@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
 	min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   	overflow-x:hidden;
}
.page-wrapper {
    margin-top: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-error {
    min-height: 16px;
}

/* Signup container */
.signup-box {
	
    background: #fff;
    width: 360px;
    padding: 30px 35px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.signup-box form{
	display:flex;
	flex-direction:column;
	gap:10px;
}

/* Heading */
.signup-box h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 26px;
    letter-spacing: 1px;
}

/* Inputs */
.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.signup-box input:focus {
    outline: none;
    border-color: #667eea;
    box-shadow: 0 0 4px rgba(102, 126, 234, 0.6);
}

/* Error text */


/* Password wrapper */
.password-wrapper {
    position: relative;
   
}

/* Tooltip (hidden by default) */
.tooltip {
    visibility: hidden;
    opacity: 0;
    width: 280px;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 1.4;
    position: absolute;
    top: 100%; /* small gap below input */
    left: 0;
    z-index: 999;
    transition: opacity 0.3s ease;
}

/* Show tooltip on hover OR focus */
.password-wrapper input:hover + .tooltip,
.password-wrapper input:focus + .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Button */
.signup-box button {
    width: 100%;
    padding: 12px;
    background: #667eea;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
}

.signup-box button:hover {
    background: #5a67d8;
}

.signup-box button:active {
    transform: scale(0.98);
}

/* Error message (server side) */
.signup-box .error {
    margin-top: 15px;
    color: red;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

/* Login link */
.signup-box p {
    margin-top: 5px;
    font-size: 14px;
}

.signup-box a {
    color: #667eea;
    text-decoration: none;
    font-weight: bold;
}

.signup-box a:hover {
    text-decoration: underline;
}

.required{
	color:red;
	font-weight:bold;
}
.js-error {
	color: #e63946;
	font-size: 12px;
	margin-bottom:1px;
	font-weight: 600;
}
